<div class="row" *ngIf='true'>
    <div class="table1" style="margin-bottom: 10px">
      <table class="dates1 table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
    </div>
    <div class="">
      <div class = 'canvas-wrapper'>
        <canvas baseChart id='canvas' 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [colors]="lineChartColors"
        [options]="lineChartOptions" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
      </div>
      <p>{{dog}}</p>
    </div>
    
  </div>