@media screen and (max-width: 1224px) {
    #main-wrapper {
        margin-top: 0px;
    }
}

.side-wrapper {
    width: 100%;
    //margin-top: none!important;
}

.data-body {
    font-size: 12px;
    min-height: 96px;
}

.data-head {
    font-size: 16px;
}

.data-title{
    font-size: 14px;
}
.foot {
    font-size: 5px!important;
    min-height: 49px 
}

.card-footer {
    font-size : 5px;
}

#date {
    min-height: 24px;
}

// @media screen and (max-width: 1224px) {
//     .main-wrapper{
//         display: flex;
//         justify-content: space-between;
//     }
//     .side-wrapper{
//         width: 49%
//     }
// }

// @media screen and (max-width: 768px) {
//     .main-wrapper{
//         display: flex;
//         justify-content: space-between;
//         flex-wrap: wrap
//     }
//     .side-wrapper{
//         min-width: 300px;
//     }
//     #news-wrapper{
//         width: 100%;
//     }
// }