<div class=" card main-wrapper" id ='main-wrapper'> 

  <div class=" side-wrapper">
    <div class="card-header data-head">
    Most Current Data: {{ _stock.stockSymbol || uppercase}}
    </div>
    <div class="card-block">
      <div class="card-title data-body">
        <ol>
          <li>Open: {{_data.sideStockData.open}}
          <li>Close: {{_data.sideStockData.close}}
          <li>High: {{_data.sideStockData.high}}
          <li>Low: {{_data.sideStockData.low}}
        </ol>
      </div>
      <div class="card-text">
        {{_data.sideStockData.date}}
      </div>
    </div>
    <div *ngIf='_data.sideStockData.open || _data.sideStockData.high' class="card-footer foot">
      <button class="btn btn-sm btn-link">see more data</button>
      <button class="btn btn-sm btn-link">discover similar stocks</button>
    </div>
  </div>
  
 
  
</div>
