.wrapper {
  width: 750px;
  height: 600px; //border: solid;
  position: absolute;
  left: 30%;
  top: 15%;
  //border-radius: 10px;
}

.main {
  font-family: arial;
  position: absolute;
  top: 120px;
  left: 450px; //background-color: red;
  //width: 280px;
  // padding-right: 0px;
}

#pic img {
  border-radius: 10px;
  background-color: grey;
  width: 400px;
  height: 595px;
  position: absolute;
  left: 0px;
  top: 0px;
} // #pic1{
//   background-image: url(./russiapic.jpg);
//}
h1 {
  position: absolute;
  top: -90px;
  font-weight: 700;
}

.sign {
  padding: 0px;
  margin-top: -18px;
  display: flex;
  justify-content: space-between;
}

#up {
  // border: 1px solid black;
  color: white;
  text-align: center;
  padding-top: 2px;
  width: 100px;
  height: 40px;
  border-radius: 10px; // background-color: rgb(26, 140, 255);
  // border-radius: 10px;
}

#in {
  // border: 1px solid black;
  // margin-top: 10px;
  position: relative;
  left: 0px;
  top: 2px;
} // #upParagraph { 
//   border: 1px solid black;
//   z-index: 0;
//   background-color: red;
//   color: white;
//   width: 100%;
//   height: 100%px;
//   border-radius: 5px;
//   opacity: .75;
// }
.typeSec {}

input {
  background-color: linear-gradient(to right, red, yellow);
  width: 240px;
  border: none;
  border-bottom: 1.3px solid black;
  margin-bottom: 20px;
}

.message {
  position: relative;
  top: -20px;

  color: red;
  height: 50px;
  width: 140px;
}
