.wrapper {
  width: 700px;
  height: 600px;
  margin: 3% auto;
  display: flex;
  flex-direction: row; 
  border-radius: 10px; 
}

.main {
  font-family: arial;
  padding-left: 35px;
  width: 50%;
  margin: auto;
}

#pic {
  position: relative;
  width: 50%;
  height: 595px;
}
#pic img {
  border-radius: 10px;
  background-color: grey;
  width: 100%;
  height: 595px;

} 

#header {
    font-weight: 700;
    margin-bottom: 15px;
}

#pass-input{
  margin-bottom: 0px;
}

.message {
  margin-top: 0px; 
  color: red;
  height: 50px;
  font-weight: 600;
}

.sign-section {
    margin-bottom: 0px;
    display: flex;
}

#sign-up {
  color: white;
  text-align: center;
  padding-top: 2px;
  width: 100px;
  height: 40px;
  border-radius: 10px; 
}

#sign-in {
  margin-left: 10px;
}

.required{
  border-bottom: 1.5px solid black;

}
input {
  background-color: linear-gradient(to right, red, yellow);
  width: 240px;
  border: none;
  border-bottom: 1.3px solid black;
  margin-bottom: 20px;
}


