<div class="wrapper card">
  <div class="main">
    <h1>Sign Up</h1>
    <main class="typeSec">
      <form>
        <label for="">First Name</label><br>
        <input type="text" class='required' name="firstname" #firstName required><br> 
        <label for=''>Last Name</label><br>
        <input type="text" name="lastname" #lastName required><br>
        <label for="">Email</label><br>
        <input type="text" name="email" #email required><br>
        <label for="">Password</label><br>
        <input type="password" name="password" #password type='password' required><br>
        <label for="">Repeat Password</label><br>
        <input type="password" name="repassword" #repassword required>
        <div class='message'>
          {{passwordError}}<br> {{fillmessage}}
        </div>
      </form>
    </main>
    <section class="sign">
      <a id="up" class="btn btn-primary" (click)="signFunct(firstName.value, lastName.value, email.value, password.value,  repassword.value)"><span> Sign up </span></a>
      <a id="in" class='btn btn-link' (click)="logFunct()"> <span>Sign in </span></a>
    </section>
  </div>
  <aside id="pic">
    <img id='pic1' [src]='img'>
  </aside>
</div>
 