<div class="wrapper card">
  
  <aside id="pic">
      <img id='pic1' [src]='img'>
  </aside>

  <div class="main">
    <h1 id='header'>Sign Up</h1>
    <main class="typeSec">
      <form>
        <label for="">First Name</label><br>
        <input type="text" class='required' name="firstname" #firstName required><br> 
        <label for=''>Last Name</label><br>
        <input type="text" class='required' name="lastname" #lastName required><br>
        <label for="">Email</label><br>
        <input type="text" class='required' name="email" #email required><br>
        <label for="">Password</label><br>
        <input type="password"  class='required' name="password" #password required><br>
        <label for="">Repeat Password</label><br>
        <input type="password"  id='pass-input' class='required' name="repassword" #repassword required>
        <div class='message'>
          {{passwordError}}<br> {{fillmessage}}
        </div>
      </form>
    </main>
    <section class="sign-section">
      <a  id="sign-up" class="btn btn-primary" 
          (click)="signFunct(firstName.value, lastName.value, email.value, password.value,  repassword.value)">
        <span> Sign up </span>
      </a>
      <a id="sign-in" class='btn btn-link' (click)="logFunct()"> 
        <span>Sign in</span>
      </a>
    </section>
  </div>

</div>
 