.wrapper {
    border-radius: 10px;
    position: relative;
    background: linear-gradient(to bottom,rgb(2, 91, 135),rgb(5, 122, 181));
    width: 390px;
    height: 550px;
    color: rgb(208, 208, 208);
    margin: 3% auto;
}

.clr-icon {
    &.clr-clarity-logo {
        background-image: url(/images/clarity_logo.svg);
        width: 150px;
        height: 100px;
        margin-left: 35px;
    }
}

#header{
    color: white;
    font-weight: 600;
    position: relative;
    top: -10px;
}

.upper {
    text-align: center;
    position: relative;
    top: 25px;
    color: white;
}

.form-class {
    position: relative;
    top: 30px;
    left: 7%;
}

.inputbox {
    color: white;
    width: 300px;
    height: 60px;
    font-size: 20px;
    opacity: 1;
    border-bottom-color: white;

}

::placeholder {
    opacity: 1;
}

#remember {
    border: none;
    background-color: white;
    width: 17px;
    height: 17px;
}

.bottom {
    text-align: center;
    position: relative;
    top: 80px;

}

#login-button {
    border-radius: 25px;
    background-color: white;
    position: relative;
    top: 10px; 
    border: none;
    width: 100px;
    height: 45px;
    margin-bottom: 15px; 
}

.message {
    position: relative;
    top: 12%;
    left: 30%;
    padding: 0px;
    margin-bottom: -40px;
    width: 250px;
    height: 40px;
}

#forgot-pass{
    color: white;
}
