
<clr-main-container>
<!--==== NAVIGATION ===============-->
  <div class ='nav-wrapper' >
    <!--*ngIf='isdisable'-->
  <clr-header >
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Clarity</span>
      </a>
    </div>
    <div class="header-nav " [clr-nav-level]="1">
          <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active"><span class="nav-text nav-a">Home</span></a>
          <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="active"><span class="nav-text nav-a">About</span></a>
      </div>
      <div class='middle'>
    </div>
  <!--===== Left tabs ===================-->
     <div *ngIf='!_user.displayLogin' class='header-actions'>  
    
          <a class='nav-link sign1' href='#' [routerLink]="['/register']" routerLinkActive="active" (click)='signUp()'><span class="nav-text nav-a">Sign Up</span></a>
          <a class='nav-link sign2' href='#' [routerLink]="['/login']" routerLinkActive="active"><span class="nav-text nav-a">log in</span></a>
     </div>
     <div *ngIf='_user.displayLogin' class='header-actions'>
      <a class='nav-link sign1'  routerLinkActive="active"><span class="nav-text nav-a">My profile</span></a>
      <app-logout></app-logout>
     </div>
    
  </clr-header>
  </div>
<!-- ==== END NAV  ---- >  Content  ================================== -->
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
      <!--<app-registration></app-registration>-->
    </div>
  </div>
</clr-main-container>
