.options1 {
    margin-bottom: 13px;
   
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
}
.nav-buttom {
    cursor: pointer;
    font-size: 14px; 
}

#searchBox {
    border-bottom-width: thick;
    width: 100%;
    margin: 0px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}

#submit-button {
    position: relative;
    right: -410px;
    top: -46px; //margin: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black ;
    font-size: 20px;
    text-align: center;
    padding-bottom: 22px;
}

// .nav-item{
//     width: 60px;
// }