<nav class="subnav options1">
  <ul class="nav nav-wrapper">
      <li class="nav-item">
          <a (click)='getIntraDayData(stockName.value)' [class.active]="isButtonActive == 'intraDay'" class="nav-link nav-buttom" >Hourly</a>
      </li>
      <li class="nav-item">
          <a (click)='getDailyyData(stockName.value)' [class.active]="isButtonActive == 'daily'" class="nav-link nav-buttom">Daily</a>
      </li>
      <li class="nav-item">
          <a (click)='getWeeklyData(stockName.value)' [class.active]="isButtonActive == 'weekly'" class="nav-link nav-buttom">Weekly</a>
      </li>
      <li class="nav-item">
          <a (click)='getMonthlyData(stockName.value)' [class.active]="isButtonActive == 'monthly'" class="nav-link nav-buttom">Monthly</a>
      </li>
  </ul>
</nav>

<input id='searchBox' class="..search" type="text" placeholder='  Enter stock symbol...' name="stockName" #stockName (keyup.enter)="_chart.onApi(stockName.value)">
<button id='submit-button' class='btn btn-primary' name='submitName' (click)='_chart.onApi(stockName.value)' >
Search
</button>
