<div class='fav-wrapper'>
    <button [disabled]='!_user.displayLogin' class='btn btn-outline' (click)='addFavorite()' type="submit"><strong>+ ADD</strong></button>
    <button *ngIf='_user.displayLogin' class='btn btn-danger-outline' (click)='deleteFavorite()' type="submit">Delete</button>
    <div class="col-xs-2 table-wrapper">
        <label id='label'>{{_user.loginFavorite}} </label>
        <div class='favList'>
            <table class="table main-table">
                <thead>
                    <tr>
                        <th class="left">Stock</th>
                        <th class="left">Price</th>
                    </tr>
                </thead>
                <tbody *ngIf='_user.displayLogin'>
                    <tr *ngFor="let item of favoriteList; let i = index">
                        <td class="left"><a (click)="onLink(item.symbol)">{{item.symbol}}</a></td>
                        <td class=''>{{item.price}}</td>
                         <!--<td  class="">{{returnIntraPrice(item[i])}}</td>-->
                    </tr>
                </tbody>
            </table>
            <table class="delete">
                <thead>
                    <tr>
                        <th class=""></th>
                    </tr>
                </thead>
                <tbody *ngIf='_user.displayLogin'>
                    <tr  *ngFor="let item of stockArray">
                        <td class='delete-item'><button class='btn btn-danger-outline btn-sm'(click)='deleteFavorite(item.id)'>{{item.id}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
            
    </div>
</div>
