<div class='.table-wrapper'>
    <!-- <button [disabled]='!_user.displayLogin' class='btn btn-outline' (click)='addFavorite()' type="submit"><strong>+ ADD</strong></button>
    <button *ngIf='_user.displayLogin' class='btn btn-danger-outline' (click)='deleteFavorite()' type="submit">Delete</button> -->
        <label id='label'>{{_user.loginFavorite}} </label>

            <table class="table">
                <thead>
                    <tr>
                        <th class="left">Stock</th>
                        <th class="left">Price</th>
                    </tr>
                </thead>
                <tbody *ngIf='_user.displayLogin'>
                    <tr *ngFor="let item of favoriteList; let i = index">
                        <td *ngIf='deleteStock == false' class="left"><a (click)='searchStock()'>{{item.symbol}}</a></td>
                        <td *ngIf='deleteStock == true' class="left"><a (click)="onStockClick(item.symbol)" class='red-button'>{{item.symbol}}</a></td>
                        <td class='left'>{{item.price}}</td>
                        <!--<td  class="">{{returnIntraPrice(item[i])}}</td>-->
                    </tr>
                </tbody>
            </table>
            <div class='delete-button'>
                <button class="btn btn-sm btn-link red-button" (click)="makeDeleteVisible()">{{deleteMessage}}</button>
            </div>

             <!-- <table class="delete">
                <thead>
                    <tr>
                        <th class=""></th>
                    </tr>
                </thead>
                <tbody *ngIf='_user.displayLogin'>
                    <tr  *ngFor="let item of stockArray">
                        <td class='delete-item'><button class='btn btn-danger-outline btn-sm'(click)='deleteFavorite(item.id)'>{{item.id}}</button></td> 
                    </tr>
                </tbody>
            </table>   -->
    
</div>
