.table-wrapper {
    margin-top: 20px;
}
.main-table {
    margin-top: 0px;
}

#table1{
    margin: 0px; 
    margin-left: 5px;
}

.table-header{
    display: flex;
    padding: 11px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 5px 0px 5px;
}

#label1 {
    font-size: 16px;
    padding: 5px;
    margin: 0px 0px 0px 0px;
}

.fav-wrapper {
    position: absolute;
    top: 15%;
}
.favList {
    display: flex;
}

.stock-column {
    width: 80%; 
}

.delete-item {
    padding: 4px;
}

.delete-button {
    float: right;
}

.red-button {
    color: rgb(171, 73, 73)!important;
    margin: 0px!important;
}

#add-button{
    margin: 0px 0px 5px 0px;
}

.on-click {
    text-decoration: none;
    cursor: pointer;
}

.modal-header .close {
    padding: 0px;
}

.modal-header {
    display: inline;
}







