.table-wrapper {
    position: relative;
    top: 20px;
    width: 80%; 
}

.main-table {
    margin-top: 0px;
}

#label {
    margin-top: 0px;
    margin-left: 6px;
    width: 380px;
    display: block;
}

.fav-wrapper {
    position: absolute;
    top: 15%;
}
.favList {
    display: flex;
}
.delete {
}

.stock-column {
    width: 80%; 
}

.delete-item {
    padding: 4px;
}

.delete-button {
    float: right;
}

.red-button {
    color: red;
}

