.main-parent {
    display: grid;
    grid-template-areas: 'data chart fav'
                        ' news chart fav';            
    grid-template-columns: 2fr 7.35fr 2fr ;
    grid-template-rows: 4fr 6fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
.search1 {
    margin: auto;
    width: 440px;
    height: 90px;
}
.news{
    grid-area: news; 
}
.wrapper {
    grid-area: chart;
    height: 30vw;
    min-height: 335px;
}
.data {
    grid-area: data;
}
.fav-side {
    grid-area: fav;
}

@media screen and (max-width: 1224px) and (min-width: 668px ) {
    .main-parent {
        display: grid;
        grid-template-areas: 'chart  fav'
                            'news data';            
        grid-template-rows: 6fr 4fr;
        grid-template-columns: 7fr 3fr  ;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        height: 100%;
        margin-top: 40px;
    }
    
}

@media screen and (max-width: 668px) {
    .main-parent {
        display: grid;
        grid-template-areas: 'chart'
                            ' fav'
                            ' data'
                            ' news';            
        grid-template-rows:  auto auto auto auto;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        //grid-row-gap: 20px;
        height: 100%;
    }
}





